@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.MAin_Head{
    display: flex;
    flex-direction: row-reverse;
    background: #E8CEB3;
    height: 95vh;
    /* box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 ); */
     /* background: #dedfe3; */
     margin-top: 1em;


}
.MAin_Head img{
    width: 490px;
    height: 470px;
    /* border-radius: 15px  ; */
    /* box-shadow: 4px 4px 2px 2px black; */
    /* border-radius: 955px; */
    display: block;
    /* margin-right: 4em; */
    margin-top: 0.5em;


    
}
.main_image{
  padding: 0;
  width: 580px;
  max-width: 90vw;
  /* margin: 25px auto; */
  margin-right: 5em;
  margin-left: 0em;
  box-shadow: 0 8px 12px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur( 14px );
  -webkit-backdrop-filter: blur( 14px );
  margin-top: 2.5em;
  align-items: center;
  display: flex;
  justify-items: center;
  justify-content: center;
  height: 37em;
  /* background: rgb(248, 244, 244); */
}


.MAin_Head_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 2em;
}
.MAin_Head_content_span{
  text-align: center;
  
  font-size: 48px;
  font-weight:300;
  margin-bottom: 0%;
  color: #39190C;
  
}
.MAin_Head_content_name{
  font-size: 58px;
  font-family: 'IBM Plex Serif', serif;
  margin-top: 0em;
  color: #39190C;
  letter-spacing: 1px;

 

}
.MAin_Head_btn{
  display: flex;
  flex-direction: row;

}
.content{
  margin-top: 10em;
}
.MAin_Head_btn1{
  width: 180px;
  height: 4em;
  background: #353a4c;
  border-color: #8b4002e2;
  color: #ABBCBF;
  font-size: 14px;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: 1px;
  cursor: pointer;
  background: rgba( 237, 240, 248, 0.25 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );


}
.MAin_Head_btn1:hover{
  background: #babbbe;
  color: #202C35;


}
.MAin_Head_btn2{
  margin-left: 2em;
  width: 180px;
  height: 4em;
  background: #353a4c;
  border-color: #8b4002e2;
  color: #ABBCBF;
  font-size: 14px;
  font-weight: bold;
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: 1px;
  cursor: pointer;
  background: rgba( 237, 240, 248, 0.25 );
box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 14px );
-webkit-backdrop-filter: blur( 14px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
.MAin_Head_btn2:hover{
  background: #babbbe;
  color: #202C35;

}
.svg_foot{
   color: #69290C ;
  display: flex;
  flex-direction: column;

  
}
.svg_foot_div{
  margin-top: 2em;
  padding: 2px;
  background: #0099ff;
  width: 100%;
}
svg{
  height: 19em;
}