@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');

.Myintro{
    background: #E8CEB3;
    height: 112vh;
    display: flex;
    flex-direction: row;

}
.Myintro_img{
    width: 380px;
    height: 30em;
    /* margin-left: 8em; */
    /* margin-top: 6em; */
    /* border-radius: 10px; */
  
}
.Myintro_image{
    margin-top: 3em;
    height: 37em;
    margin-left: 7em;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* justify-items: center; */
    width: 1280px;
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.Myintro_content{
    margin-top: 5em;
    margin-left: 12em;
    margin-right: 3em;

}
.Myintro_content_text{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    font-weight:300;
    color: #39190C;


}
.Myintro_content_text2{
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    text-transform: capitalize;
    color: #202C35;
}
.Myintro_content_text3{
    font-size: 20px;
    text-transform: uppercase;
    
    font-weight:600;
    color: #39190C;

}
.Myintro_content_text4{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    font-weight:300;
    color: #39190C;
    margin-left: .5em;
    margin-right: .5em;

}
.Myintro_content_text6{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    font-weight:300;
    color: #39190C;
    margin-left: 1.5em;
    margin-right: .5em;

}
.Myintro_content_text5{
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
    font-weight:300;
    color: #39190C;

}
.Myintro_content_btn{
    width: 180px;
    height: 4em;
    background: rgba( 237, 240, 248, 0.25 );
    box-shadow: 0 8px 12px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 14px );
    -webkit-backdrop-filter: blur( 14px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
      color: #fbf3f3;
    font-size: 14px;
    font-weight: bold;
    font-family: 'IBM Plex Serif', serif;
    letter-spacing: 1px;
  
  
  
}
.Myintro_content_btn:hover{
    background: #171922;
    /* cursor: pointer; */
    color:#E8CEB3;

}
.Myintro_content a:hover{
    /* background: #171922; */
    cursor: pointer;
    color:#E8CEB3;

}
.Myintro_content_text7{
    font-size: 20px;
    /* text-transform: capitalize; */
    font-family: 'IBM Plex Serif', serif;
    font-weight:300;
    color: #39190C;
    /* margin-left: .5em; */
    /* margin-right: .5em; */

}