@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
.Navbar{
    height: 3.5em;
    background: #202C35;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* box-shadow: 9px 11px 8px rgb(138, 138, 138); */
    /* border-style: outset; */
    /* border-color: #16354D; */

    /* margin-top: 2em; */
    
}
.Links{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}
.Link{
    color: #5F6E6E; 
    text-decoration: none;
    font-family: 'IBM Plex Serif', serif;
}
.Link:hover{
    color: #ABBCBF; 
}
.logo{
    color: #ABBCBF;

    font-size: 40px;
    font-weight: 700;
    width: 20%;
    
    margin-right: 6em;
}
.logo_name{
    color: #E8CEB3;
    
}
.logo_name2{
    margin-left: .2em;
    letter-spacing: .1em;
}
svg{
    background: #E8CEB3;

}